* {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #333;
}

html, 
body {
    height: auto;
    min-height: 100vh;
}

html {
    background: linear-gradient(180deg, #5cf109 0%, #0097ff 100%);
}

input:focus {
    outline: none;
}

#container {
    max-width: 900px;
    min-height: 80vh;
    margin: 2rem auto;
    display: flex;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;

    
}

#banner {
    background-image: url(../img/bg-form.jpg);
    background-size: cover;
    background-position: center;
    width: 50%;
}

#banner_camada {
    background-color: #24eb0996;
    height: 100%;
    padding: 2rem;
    display: flex;
    align-items: center;
}

#banner_camada h1 {
    font-size: 4rem;
    margin-bottom: 1.5rem;
    color: #fff;
    word-spacing: 50rem;
}

#formulario {
    background-color: #fdfdfdfd;
    padding: 2rem;
    width: 50%;
    display: flex;
    flex-direction: column;
}

#formulario h2 {
    text-align: center;
    margin-bottom: 1rem;
    font-size: 2.2rem;
}

#formulario p {
    text-align: center;
    margin-bottom: 1.5rem;
    color: #aaa;
    font-size: 0.8rem;
}

.control_form {
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
}

.control_form label {
    font-weight: bold;
    margin-bottom: .6rem;
}

.control_form input {
    border: none;
    border-bottom: 1px solid #aaa;
    padding: 0.6rem 0;
}

#ajuda_password {
    font-weight: bold;
    cursor: pointer;
    transition: 0.4s;
}

#ajuda_password:hover {
    color: #5cf109;
}

#container #ajuda_senha_password {
    border: 1px solid #5cf109 ;
    border-radius: 4px;
    font-weight: bold;
    font-size: 1.2rem;
    padding: .4rem;
    color: #333;
    text-align: center;
    margin-bottom: 1rem;
    isplay: none;
}

.selecao {
    display: flex;
    flex-direction: column;
    font-size: 1.2rem;
    font-weight: bold;
}

.marcacao {
    margin-top: 8px;
    color: #aaa;
    
}

.todos {
    display: flex;
    justify-content: space-between;
    font-size: 1.2rem;
    font-weight: bold;
}


#container #ajuda_senha_password .senha {
    border: 1px solid ;
    padding: 1rem;
    color: #5cf109;
    border-radius: 4px;
}

.senha1 {
    margin-top: 15px;
}
#container #ajuda_senha_password .todos  {
   color: black;
   margin-bottom: 1.5rem;
}

#container input[type="submit"] {
    background-color: #5cf109;
    color: #fff;
    opacity: .8;
    border: none;
    border-radius: 2rem;
    padding: 1rem 1.4rem;
    max-width: 150px;
    cursor: pointer;
    align-self: flex-end;
    transition: 0.4s;
}

#container input[type="submit"]:hover {
    opacity: 1;
}
